*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Courier New', Courier, monospace;
}

body{
  text-align: center;
  background-color: black;
  color: aliceblue;
}

.app{
  padding: 2rem 1rem;
}

h1{
  font-size: 44px;
  margin-bottom: 50px;
  border: rgb(0, 0, 0);
  border-style: dashed;
  border-width: 16px;
  border-top-color: rgb(191, 191, 191);
  border-bottom-color: rgb(92, 92, 92);
  padding: 8px;

}

input{
  appearance: none;
  border: none;
  outline: none;
  background: #f7f7f7;
  width: 100%;
  max-width: 400px;
  padding: 12px 20px;
  margin-right: 35px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
}

button, a{
    appearance: none;
    border: none;
    outline: none;
    background: none;
    color: greenyellow;
    font-size: 22px;
    line-height: 1;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
}

img{
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 40px auto;

}

#download{
  color: aqua;
  border:5px
}