*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Courier New', Courier, monospace;
}

body{
  text-align: center;
  background-color: black;
  color: aliceblue;
}

.app{
  padding: 2rem 1rem;
}

h1{
  font-size: 36px;
  margin-bottom: 30px;
}

input{
  appearance: none;
  border: none;
  outline: none;
  background: #f7f7f7;
  width: 100%;
  max-width: 400px;
  padding: 10px 20px;
  margin-right: 25px;
  border-radius: 10px;
}

button, a{
    appearance: none;
    border: none;
    outline: none;
    background: none;
    color: greenyellow;
    font-size: 22px;
    line-height: 1;
    text-decoration: none;
    font-weight: 00;
}

img{
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 20px auto;
}


