*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Courier New', Courier, monospace;
}

body{
  text-align: center;
  background-color: black;
  color: aliceblue;
}

.app{
  padding: 12px 25px
}

h1{
  font-size: 44px;
  margin-bottom: 30px;
  border: rgb(0, 0, 0);
  border-style: dashed;
  border-width: 16px;
  border-top-color: rgb(191, 191, 191);
  border-bottom-color: rgb(92, 92, 92);
  padding: 7px;

}

#para{
  background-color: #1c1c1c;
  padding: 13px 50px;
  box-shadow: 3px 3px rgba(125, 125, 125, 0.5);
  margin-bottom: 10px;

}

input{
  appearance: none;
  border: none;
  outline: none;
  background: #f7f7f7;
  width: 100%;
  max-width: 400px;
  padding: 12px 20px;
  margin-right: 35px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
}

button, a{
    appearance: none;
    border: none;
    outline: none;
    background: none;
    color: greenyellow;
    font-size: 22px;
    line-height: 1;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    padding: 6px 15px; 
}

button:hover{
  background-color: #ffffff;
  color: #000000;
  border: #ffffff;
  box-shadow: 3px 3px rgba(255, 255, 255, 0.5);
}

img{
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 40px auto;

}

#download{
  color: rgb(255, 255, 255);
  border: #c5c5c5;
  border-style: dashed;
  padding: 6px 15px; 
  border-width: 2px;
  cursor: pointer;

}

#download:hover{
  background-color: #ffffff;
  color: #000000;
  border: #ffffff;
  box-shadow: 3px 3px rgba(169, 169, 169, 0.5);
}

#final{
  margin-top: 22px;
  font-family: monospace;
  font-size: 14px;
}